{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="../static/css/home.css">

{% endblock %}


{% block body %}


	{% for property in properties %}
	
<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{property.address}} {{property.city}} {{property.state}} {{property.zipcode}}</span>
              <ul>
              	<li>Bathrooms: {{property.bathrooms}} </li>
              	<li> Bedrooms: {{property.bedrooms}}</li>
              	<li>Square Footage: {{property.sq_ft}}ft </li>
              	<li> Price: ${{property.current_price}}</li>
              </ul>
            </div>
            <div class="card-action">
              <a href="/property/{{property.id}}">More Info </a>
            </div>
          </div>

    {% endfor %}
   

   {% block js %}

  <script src="../static/js/home.js"></script>
    {% endblock %}

{% endblock %}



