{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}


{% block body %}
	<h4 class="loginTitle"> Login </h4>
	<p id="errorMessage">{{lError_message}}</p>
	<form action='/home' method = 'POST' class="loginForm">
		<input class="loginTextInput" placeholder="Username" type="text" name="existUsername">
		<input class="loginTextInput" placeholder="Password" type="text" name="existPassword">
		<input type='submit' value="Submit">
	</form>

	<h4 class="loginTitle"> Sign Up </h4>
	<p id="errorMessage">{{rError_message}}</p>
	<form action='/register' method = 'POST' class="loginForm">
		<input class="loginTextInput" placeholder="Username" type="text" name="newUsername">
		<input class="loginTextInput" placeholder="New Password" type="password" name="newPassword">
		<input class="loginTextInput" placeholder="First Name" type="text" name="newFirstName">
		<input class="loginTextInput" placeholder="Last Name" type="text" name="newLastName">
		<input type='submit' value="Submit">
	</form>

{% endblock %}