{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/singleProperty.css">
{% endblock %}


{% block body %}
	<div class="row titlesArea">
		<div class="col s4 titles">
			<h3>Google Map</h3>
		</div>
		<div class="col s8 titles">
			<h3>Property Facts</h3>
		</div>
	</div>

	<div class="row property">
		<div class="col s4 propertyInfoArea googleMaps" data-lat="{{lat}}" data-long="{{long}}">
		</div>
		<div class="col s8 propertyInfoArea">
			<ul id = "propertyInfoUl" class="singlePagePropInfo" data-id={{property.id}}>
				<li> Address: {{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}} </li>
				{% if property.bedrooms == 0 %}
				<li> Bedrooms: Information Unavailabe </li>
				{% else %}
				<li> Bedrooms: {{property.bedrooms}} </li>
				{% endif %}
				{% if property.bathrooms == 0 %}
				<li> Bathrooms: Information Unavailabe </li>
				{% else %}
				<li> Bathrooms: {{property.bathrooms}} </li>
				{% endif %}
				<li> Price: ${{property.current_price}} </li>
				{% if property.sq_ft == 0 %}
				<li> Square Footage: Information Unavailabe </li>
				{% else %}
				<li> Square Footage: {{property.sq_ft}} </li>
				{% endif %}
			</ul>
		</div>

	</div>
	<div class="row buttonsSP">
		{% if check %}
			<div class="col s4 buttonsSingleProperty">
				<a class = "viewAccountToSee" href="/account"> View your Account to see </a>
			</div>
				{% if check.investment_value == 0 %}
					<div class="col s8 buttonsSingleProperty">
						<input class = "saveInvest" type='submit' value="Invest" id="investButton">
					</div>
				{% else %}
					<div class="col s8 buttonsSingleProperty">
						<span id="investmentAmount"> Amount you have contributed: ${{check.investment_value}}</span>
					</div>
				{% endif %}
			
		{% else %}
			<div class="col s4 buttonsSingleProperty">
				<input class = "saveInvest" type='submit' value="Save" id="saveButton">
			</div>
			<div class="col s8 buttonsSingleProperty investFormForLater">
				<input class = "saveInvest" type='submit' value="Invest" id="investButton">
			</div>
		{% endif %}
	</div>

	<div class="row investFormArea">
		<div class="col s6 formArea">
		</div>
		<div class="col s6 formArea">
			<form action="/invest_property/{{property.id}}" method="POST" id="formToInvest">
				<input type="text" placeholder="Insert amount you wish to invest" name="investmentAmount">
				<input type="submit" Value= "Invest">
			</form>
		</div>
	</div>

	
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{uhoh}}&callback=initMap"
    async defer></script>
<script src="../static/js/singleproperty.js"></script>
{% endblock %}